body{
	background: #333;
}
#gameName{
	color: #fff;
	
	font-family: Courier;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
canvas{
	display: block;
	margin: 30px auto 0px;
}
#player, #enemy{
	display: block;
	margin: -500px auto 0px;
}